<h1>Page#index on dummy app</h1>
<p>Find me in app/views/page/index.html.erb</p>

<%= link_to "Nextbbs", nextbbs.root_path %>
<hr>
<% unless current_user %>
<%= link_to "login", new_user_session_path %>
<% else %>
<%= link_to "signout", destroy_user_session_path, method: :delete %>
<% end %>